<h1>RECUPERACIÓN DE CONTRASEÑA</h1>
<form action="/api/sessions/forgot-password" method="post">
    email: <input type="email" name="email" id="email">
    <input type="submit" value="Reset Password">
</form>

<a href="/">Back to login</a>
<a href="/signup">Back to Signup</a>