<h1>NEW PASSWORD</h1>
<form action="/api/sessions/reset-password/:token" method="post">
    new password: <input type="password" name="password" id="password">
    <input type="submit" value="Reset Password">
</form>

<a href="/">Back to login</a>
<a href="/signup">Back to Signup</a>